USE [master]
GO
/****** Object:  Database [Churches2.0]    Script Date: 2018-08-31 15:31:03 ******/
CREATE DATABASE [Churches2.0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Churches2.0', FILENAME = N'C:\Users\Administrator\Churches2.0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Churches2.0_log', FILENAME = N'C:\Users\Administrator\Churches2.0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Churches2.0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Churches2.0]
GO
USE [Churches2.0]
GO
/****** Object:  Table [dbo].[Church]    Script Date: 2018-08-31 15:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Church](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[YearBuilt] [int] NOT NULL,
	[CityID] [int] NOT NULL,
 CONSTRAINT [PK_Church] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2018-08-31 15:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[Betyg] [int] NOT NULL,
	[Folkmängd] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavouriteChurch]    Script Date: 2018-08-31 15:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavouriteChurch](
	[ChurchID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
 CONSTRAINT [PK_FavouriteChurch] PRIMARY KEY CLUSTERED 
(
	[ChurchID] ASC,
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2018-08-31 15:31:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[CItyOfResidence] [int] NOT NULL,




 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Church] ON 

INSERT [dbo].[Church] ([ID], [Name], [YearBuilt], [CityID]) VALUES (1, N'Oscar-Fredriks church', 1893, 1)
INSERT [dbo].[Church] ([ID], [Name], [YearBuilt], [CityID]) VALUES (2, N'Masthuggs church', 1914, 1)
INSERT [dbo].[Church] ([ID], [Name], [YearBuilt], [CityID]) VALUES (3, N'Sankt Georgios', 1890, 2)
SET IDENTITY_INSERT [dbo].[Church] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [CityName], [Betyg], [Folkmängd]) VALUES (1, N'Göteborg', 5, 800000)
INSERT [dbo].[City] ([ID], [CityName], [Betyg], [Folkmängd]) VALUES (2, N'Stockholm', 6, 1000000)
INSERT [dbo].[City] ([ID], [CityName], [Betyg], [Folkmängd]) VALUES (3, N'Norrköping', 4, 200000)
SET IDENTITY_INSERT [dbo].[City] OFF
INSERT [dbo].[FavouriteChurch] ([ChurchID], [PersonID]) VALUES (1, 1)
INSERT [dbo].[FavouriteChurch] ([ChurchID], [PersonID]) VALUES (4, 1)
INSERT [dbo].[FavouriteChurch] ([ChurchID], [PersonID]) VALUES (4, 2)
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([ID], [FirstName], [CItyOfResidence]) VALUES (1, N'Linnea', 1)
INSERT [dbo].[Person] ([ID], [FirstName], [CItyOfResidence]) VALUES (2, N'Harry', 2)
SET IDENTITY_INSERT [dbo].[Person] OFF
ALTER TABLE [dbo].[Church]  WITH CHECK ADD  CONSTRAINT [FK_Church_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Church] CHECK CONSTRAINT [FK_Church_City]
GO
ALTER TABLE [dbo].[FavouriteChurch]  WITH CHECK ADD  CONSTRAINT [FK_FavouriteChurch_Church] FOREIGN KEY([ChurchID])
REFERENCES [dbo].[Church] ([ID])
GO
ALTER TABLE [dbo].[FavouriteChurch] CHECK CONSTRAINT [FK_FavouriteChurch_Church]
GO
ALTER TABLE [dbo].[FavouriteChurch]  WITH CHECK ADD  CONSTRAINT [FK_FavouriteChurch_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[FavouriteChurch] CHECK CONSTRAINT [FK_FavouriteChurch_Person]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_City] FOREIGN KEY([CItyOfResidence])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_City]
GO
USE [master]
GO
