USE [master]
GO
/****** Object:  Database [GnomeDb]    Script Date: 2018-09-07 10:24:28 ******/
CREATE DATABASE [GnomeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GnomeDb', FILENAME = N'C:\Users\Administrator\GnomeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GnomeDb_log', FILENAME = N'C:\Users\Administrator\GnomeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GnomeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GnomeDb]
GO
USE [GnomeDb]
GO
/****** Object:  Table [dbo].[Gnome]    Script Date: 2018-09-07 10:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gnome](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Beard] [varchar](3) NULL,
	[Evil] [varchar](3) NULL,
	[Rase] [varchar](50) NULL,
	[Temper] [int] NULL,
 CONSTRAINT [PK_Gnome] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 2018-09-07 10:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BeardId] [int] NOT NULL,
	[EvilId] [int] NOT NULL,
	[TemperId] [int] NOT NULL,
	[RasId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Properties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gnome] ON 

INSERT [dbo].[Gnome] ([Id], [Name], [Beard], [Evil], [Rase], [Temper]) VALUES (1, N'Grobnick', N'Ja', N'Nej', N'Skogstomte', 5)
INSERT [dbo].[Gnome] ([Id], [Name], [Beard], [Evil], [Rase], [Temper]) VALUES (2, N'Kazbo', N'Ja', N'Ja', N'Bergstomte', 1)
INSERT [dbo].[Gnome] ([Id], [Name], [Beard], [Evil], [Rase], [Temper]) VALUES (3, N'Beggra', N'Nej', N'Ja', N'Bergstomte', 4)
SET IDENTITY_INSERT [dbo].[Gnome] OFF
USE [master]
GO
